<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active" >
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link"  routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/user-update">Update User</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown06" data-bs-toggle="dropdown" aria-expanded="false">Promotions</a>
        <ul class="dropdown-menu" aria-labelledby="dropdown06">
          <li><a class="dropdown-item" routerLink="/promotion">Add promotion</a></li>
          <li><a class="dropdown-item" routerLink="/promotion-update">Update promotion</a></li>
          <li><a class="dropdown-item" routerLink="#">All promotions</a></li>
          <li><a class="dropdown-item" routerLink="#">Delete promotion</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown06" data-bs-toggle="dropdown" aria-expanded="false">Comments</a>
        <ul class="dropdown-menu" aria-labelledby="dropdown06">
          <li><a class="dropdown-item" routerLink="/comment">Add comment</a></li>
          <li><a class="dropdown-item" routerLink="/comment-update">Update comment</a></li>
          <li><a class="dropdown-item" routerLink="#">All comments</a></li>
          <li><a class="dropdown-item" routerLink="#">Delete comment</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown06" data-bs-toggle="dropdown" aria-expanded="false">Orders</a>
        <ul class="dropdown-menu" aria-labelledby="dropdown06">
          <li><a class="dropdown-item" routerLink="/order">Add order</a></li>
          <li><a class="dropdown-item" routerLink="/order-update">Update order</a></li>
          <li><a class="dropdown-item" routerLink="#">All orders</a></li>
          <li><a class="dropdown-item" routerLink="#">Delete order</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/logout">Logout</a>
      </li>
    </ul>

  </div>
</nav>

