<div>
  <section id="cover" class="min-vh-100">
    <div id="cover-caption">
      <div class="container">
        <div class="row text-white">
          <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
            <div class="px-2">
              <form action="" [formGroup]="addOrderForm" (submit)="addOrder()" class="justify-content-center">
                <div class="form-group">
                  <label for="name">Name</label>
                  <label class="sr-only">Name</label>
                  <input type="text" class="form-control" placeholder="name" formControlName="name">
                </div>
                <div class="form-group">
                  <label for="description">Description</label>
                  <label class="sr-only">Description</label>
                  <input type="text" class="form-control" placeholder="description" formControlName="description">
                </div>
                <div class="form-group">
                  <label for="price">Price</label>
                  <label class="sr-only">Price</label>
                  <input type="number" min= "1" class="form-control" placeholder="price" formControlName="price">
                </div>

                <div class="form-group">
                  <label for="manicure">Manicure Type</label>
                  <label class="sr-only">Manicure Type</label>
                  <select class="form-control" placeholder="manicure" formControlName="manicure">
                    <option value="">SELECT</option>
                    <option value="MANICURE">MANICURE</option>
                    <option value="PEDICURE">PEDICURE</option>
                    <option value="OILS AND FILES">OILS AND FILES</option>
                  </select>

                </div>
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
