 <div class="ms-content-wrapper">
                <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-6">
                     <div *ngFor = "let promotion of promotions">

                    <div class="ms-card">
                      <div class="ms-card-img">
<!--                        <img src="../../../assets/img/143393112_3837731659626213_2140652174899024548_n.jpg"-->
<!--                             alt="card_img">-->
                      </div>
                      <div class="ms-card-body">
                        <div class="ms-panel-custom">
                          <h4>{{ promotion.name }}</h4>
                          <span class="ms-text-primary">{{ promotion.price }} £ </span>
                        </div>

                        <p>{{ promotion.description }}</p>
                        <div class="ms-panel-custom">
                          <button  href="../promotion-update" class="btn btn-primary mr-2  ms-custom-btn">Update</button>
                          <button (click)="deletePromotionById(promotion)" class="btn btn-danger mr-2">Delete</button>
                        </div>

                      </div>
                    </div>
                  </div>
                  </div>

                </div>
              </div>

